/* Small Devices like Smart Phones */
@media (max-width: 768px) {
    .nav-bar {
        display: none;
    }
    
    .container {
        width: 101vw;
        height: 4.3rem;
    }

    .logo {
        position: absolute;
        left: 2rem;
        top: 1rem;
    }

    .logo img {
        width: 5rem;
        height: 5rem;
    }

    .btn {
        top: 1.1rem;
        right: 1rem;
    }

    .right {
        display: none;
    }

    .left {
        display: none;
    }

    .Titles {
        margin-top: 8rem;
    }

    #title-1{
        margin-left: 1rem;
        font-size: 18px;
        margin-bottom: 2rem;
    }

    #title-2{
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 50px;
    }

    #title-3{
        margin-left: 1rem;
        font-size: 23px;
    }

    #title-4{
        margin-left: 1rem;
        margin-top: 2rem;
        font-size: 16px;
        width: 90%;
        text-align: justify;
    }

    .scroll {
        margin-top: 3rem;
    }

    .experience{
        margin-left: 1rem;
        margin-top: 10rem;
        font-size: 15px;
    }

    .exp-list button {
        line-height: 2rem;
        font-size: 16px;
    }

    .exp-main {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }

    .exp-info{
        width: 100%;
        margin-left: -1rem;
        margin-top: 3rem;
        padding: 0.8rem;
        box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.2);
    }

    .exp-info li {
        font-size: 16px;
    }

    .exp-info h1 {
        font-size: 23px;
    }

    .skills {
        margin-top: 4rem;
        margin-left: 2rem;
        font-size: 15px;
    }

    .skills hr{
        width: 70%;
    }

    .skill-lists {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 33% 33% 33%;
        margin-left: 0rem;
        font-size: 16px;
    }

    .uni-details{
        width: 23rem;
        padding: 2rem;
        margin-left: -2rem;
        font-size: 20px;
    }

    .flag {
        width: 6%;
        height: 6%;
    }

    .projects{
        margin-left: 2rem;
        font-size: 10px;
      }
      
    .projects hr {
        width: 40%;
        margin-left: 1rem;
    }

      .project-buttons {
        margin-top: 3rem;
        padding: 0 0;
        width: 65%;
        margin-left: 4rem;
    }

    .project-buttons button {
        font-size: 18px;
    }

    .beginner-projects-all {
        margin-top: 5rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 100%;
      }

      .single-project {
          display: flex;
          justify-content: center;
        margin-bottom: 4rem;
        position: relative;
        height: 23rem;
        width: 20rem;
        margin-left: 2rem;
    }

    .project-img {
        height: 10rem;
      }

      .img-container{
        margin-top: 0;
        margin-left: 3rem;
        width: 100%;
        height: 100%;
     }

     .img-container img{
        margin-top: 1rem;
        padding: 0px;
        margin-bottom: -2.9rem;
        box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.2);
     }

     .about {
        margin-left: 2rem;
        font-size: 13px;
    }

     .about-content{
        margin-left: 4rem;
        font-size: 16px;
    }

    .br {
        margin-left: 10rem;
    }

    .end-title {
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: 13px;
    }

    .footer p{
        font-size: 13px;
        font-weight: 400;
        padding: 0.3rem;
        border-radius: 5px;
      }

      /* ###################### Mobile Menu ########################## */

      .navigation__checkbox {
        display: none;
      }
      .navigation__checkbox:checked ~ .navigation__background {
        transform: scale(100);
      }
      .navigation__checkbox:checked ~ .navigation__nav {
        transform: translateX(0);
        visibility: initial;
        opacity: 1;
      }
      .navigation__button {
        position: fixed;
        bottom: 35%;
        right: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-image: linear-gradient(rgb(235, 116, 156), rgb(228, 76, 126));
        box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        z-index: 12;
        text-align: center;
      }
      .navigation__background {
        position: fixed;
        bottom: 35%;
        right: 2rem;
        width: 3.7rem;
        height: 4rem;
        border-radius: 50%;
        /* background-image: linear-gradient(134deg, rgb(250, 107, 107) 40%, rgb(236, 72, 72) 60%); */
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(360,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='8' height='8' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='4' cy='4' r='4'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: auto;
        background-position-x: -10px;
        z-index: 10;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      }
      .navigation__nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 11;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .navigation__list {
        position: absolute;
        top: 35%;
        left: 45%;
        transform: translate(-50%, -50%);
        text-align: center;
        list-style: none;
      }
      .navigation__item {
        margin: 1rem;
        counter-increment: list;
        font-family: 'Asap','sans';
      }
      
      .navigation__link:link, .navigation__link:visited {
        display: inline-block;
        font-size: 25px;
        font-weight: 300;
        padding: 0.3rem 0.5rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 49.9%, #fff 50%);
        background-size: 227%;
        transition: all 0.4s;
      }

      .navigation__link svg {
        width: 40%;
      }

      .navigation__link:hover, .navigation__link:active {
        color: rgb(228, 76, 126);
        background-position: 100%;
        transform: translateX(1rem);
      }
      .navigation__icon {
        display: inline-block;
        position: relative;
        width: 2rem;
        height: 0.3rem;
        top: 34%;
        transition: transform 0.25s ease-in-out;
      }
      .navigation__icon-span {
        position: absolute;
        height: 0.4rem;
        width: 50%;
        background: #fafafa;
        transition: all 0.5s ease-in;
      }
      .navigation__icon-span:nth-child(even) {
        left: 50%;
        border-radius: 0 0.9rem 0.9rem 0;
      }
      .navigation__icon-span:nth-child(odd) {
        left: 0;
        border-radius: 0.9rem 0 0 0.9rem;
      }
      .navigation__icon-span:nth-child(1), .navigation__icon-span:nth-child(2) {
        transform: translateY(-0.8rem);
      }
      .navigation__icon-span:nth-child(5), .navigation__icon-span:nth-child(6) {
        transform: translateY(0.8rem);
      }
      .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(1), .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(6) {
        transform: rotate(45deg);
      }
      .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(2), .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(5) {
        transform: rotate(-45deg);
      }
      .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(2), .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(6) {
        transform-origin: left;
      }
      .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(1), .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(5) {
        transform-origin: right;
      }
      .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }
      .navigation__checkbox:checked + .navigation__button .navigation__icon-span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }
      .navigation__button:hover .navigation__icon-span:nth-child(3) {
        transform: translateX(-0.3rem) scale(1.1);
      }
      .navigation__button:hover .navigation__icon-span:nth-child(4) {
        transform: translateX(0.3rem) scale(1.1);
      }
      .navigation__checkbox:checked + .navigation__button:hover .navigation__icon {
        transform: rotate(180deg);
      }

 }

 /* Medium Devices like Desktops/Laptops */
 @media (min-width: 769px) {
    .logo {
        display: none;
    }
    
    .navigation {
        display: none;
    }
  }